@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    /* Colors */
    --clr-section-team: hsl(0, 78%, 62%);
    --clr-section-supervisor: hsl(180, 62%, 55%);
    --clr-section-karma: hsl(34, 97%, 64%);
    --clr-section-calculator: hsl(212, 86%, 64%);
    --clr-titles: hsl(234, 12%, 34%);
    --clr-paragraphs: hsl(229, 6%, 66%);
    --clr-background: hsl(0, 0%, 98%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 1px);
    background-color: var(--clr-background);
}

/* Header */
header {
    text-align: center;
    width: 500px;
    margin: 3em;
    line-height: 1.4;
}

header h1 {
    font-weight: 200;
    color: var(--clr-titles);
}

.title {
    font-weight: 600;
}

header p {
    margin: 1em;
    font-size: 15px;
    font-weight: 400;
    color: var(--clr-paragraphs);
}

/* Grid only */
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px 30px;
    grid-auto-flow: row;
    grid-template-areas:
        "div1 div2 div4"
        "div1 div3 div4";
}

.div1 {
    align-self: center;
    grid-area: div1;
}

.div2 {
    grid-area: div2;
}

.div3 {
    grid-area: div3;
}

.div4 {
    align-self: center;
    grid-area: div4;
}

/* Main */
main {
    margin-bottom: 2em;
}
main p {
    color: var(--clr-paragraphs);
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 45px;
}
main h3 {
    color: var(--clr-titles);
    font-weight: 700;
}
main img {
    width: 4em;
    display: block;
    align-self: end;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 350px;
    background-color: #FFF;
    border-radius: 0.2rem;
    box-shadow: 0px 7px 10px 1px rgba(0,0,0,0.1);
}
.section-supervisor {
    border-top: 4px solid var(--clr-section-supervisor);
}
.section-teambuilder {
    border-top: 4px solid var(--clr-section-team);
}
.section-karma {
    border-top: 4px solid var(--clr-section-karma);
}
.section-calculator {
    border-top: 4px solid var(--clr-section-calculator);
}

@media (max-width: 1150px) {
    .wrapper {
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 30px 30px; 
    grid-template-areas: 
    "div1 div2"
    "div3 div4"; 
}
.div1 { grid-area: div1; }
.div2 { grid-area: div2; }
.div3 { grid-area: div3; }
.div4 { grid-area: div4; }
}


@media (max-width: 770px) {
    body {
        display: flex;
        justify-content: flex-start;
    }
    header {
        padding: 1rem;
        width: 370px;
    }
    header h1 {
        font-size: 1.45rem;
    }
    header p{
        font-size: 0.9rem;
    }
    .wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .section {
        width: 320px;
        padding: 1.5rem
    }
    .section-calculator{
        margin-bottom: 5rem;
    }
}
